[submodule "subprojects/spdlog"]
	path = subprojects/spdlog
	url = https://github.com/gabime/spdlog
[submodule "subprojects/imgui/imgui"]
	path = subprojects/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "subprojects/cxxopts/cxxopts"]
	path = subprojects/cxxopts/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "subprojects/glfw/glfw"]
	path = subprojects/glfw/glfw
	url = https://github.com/glfw/glfw
[submodule "subprojects/glslang/glslang"]
	path = subprojects/glslang/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "subprojects/glfw"]
	path = subprojects/glfw
	url = https://github.com/voltsemu/glfw3
