[submodule "subprojects/spdlog"]
	path = subprojects/spdlog
	url = https://github.com/gabime/spdlog
[submodule "subprojects/imgui/imgui"]
	path = subprojects/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "subprojects/cxxopts/cxxopts"]
	path = subprojects/cxxopts/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "subprojects/glm/glm"]
	path = subprojects/glm/glm
	url = https://github.com/g-truc/glm
	branch = 13724cfae64a8b5313d1cabc9a963d2c9dbeda12
[submodule "subprojects/glfw/glfw"]
	path = subprojects/glfw/glfw
	url = https://github.com/glfw/glfw
