<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
		<add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json"/>
    <add key="nuget.org" protocolVersion="3" value="https://api.nuget.org/v3/index.json"/>
    <add key="AvaloniaCI" value="https://www.myget.org/F/avalonia-ci/api/v2" />
  </packageSources>
  <config>
		<add key="globalPackagesFolder" value=".\packages"/>
	</config>
</configuration>